.header{
    height: 40vw;
    width: 100%;
    margin: auto;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5vw;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 70%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 1.5s;
}

.header-content h2{
    font-weight: 700;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-content h3{
    color: white;
    font-size: max(2.5vw, 18px);
}

.header-content p{
    color: white;
    font-size: max(2vw, 14px);
}

.header-content button{
    background-color: white;
    font-size: max(1.5vw, 13px);
    font-weight: 700;
    color: darkslategray;
    border: none;
    padding: 1vw 2vw;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.header-content button:hover{
    background-color: mediumseagreen;
}
@media (max-width:1050px) {
    .header-content{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
}